# examples:
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_cleanup_with_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day

production:
  clear_solid_queue_finished_jobs:
    command: "SolidQueue::Job.clear_finished_in_batches(sleep_between_batches: 0.3)"
    schedule: every hour at minute 12
  joint_accounts_reminder:
    class: JointAccounts::ReminderJob
    queue: default
    schedule: every monday at 9am
  joint_accounts_reconciliation:
    class: JointAccounts::ReconciliationJob
    queue: default
    schedule: every day at 2am
