<p>Hi <%= @email %>,</p>
<p>Welcome to BaeHub! We're excited to have you on board.</p>
<p>Please confirm your email address to get started.</p>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
  <tbody>
    <tr>
      <td align="left">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <%= link_to 'Confirm Account', confirmation_url(@resource, confirmation_token: @token), target: "_blank" %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>If you didn't request this, please ignore this email.</p>
<p>Best regards,<br>The BaeHub Team</p>
